<div id="top">
	<div class="content">

		<div class="content__head hero">
			<div class="js-anime zoomIn">
        <div class="hero__item">
          <h1>Animation Library</h1>
          <p>Alpha version 0.1</p>
        </div>
      </div>
		</div>

		<div class="content__body">

      <section class="section">
        <div class="section__ttl">
          <h2>ライブラリについて</h2>
        </div>
        <div class="section__body">
          <p>このライブラリはDEPART社のインテグレーション事業において使用しているライブラリや考え方を一部まとめたものです。</p>
          <p>Sass MixinやWebpackを使い、必要なものだけを読み込むこみ使用することを念頭においています。</p>
          <p>記述方法などはsrc/内のscss、js、HTMLに記載されていますので<a href="">GitHub</a>から確認してみてください。</p>
          <p>現在α版です。今後も追加する予定です。</p>
        </div>
      </section>

      <section class="section">
        <div class="section__ttl">
          <h2>項目</h2>
        </div>
        <div class="section__body">

          <nav class="flex between">
            <div class="card">
              <div class="card__inner">
                <div class="card__header">
                  <h3>CSS</h3>
                </div>
                <div class="card__body">
                  <p>CSSアニメーションライブラリなどでよくある動きなどを用意しています。<br>基本構造的にはmixinになっていますので、オリジナルのアニメーションが自作できます。</p>
                </div>
                <div class="card__footer right">
                  <a href="/css-anime/" class="btn">詳細はこちら</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__inner">
                <div class="card__header">
                  <h3>Scroll</h3>
                </div>
                <div class="card__body">
                  <p>ページをスクロールしていき、画面内に入ったところで表示させたい場合に利用できます。<br>アニメーション自体はこのライブラリのCSSアニメーションを利用しています。</p>
                </div>
                <div class="card__footer right">
                  <a href="/scroll/" class="btn">詳細はこちら</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__inner">
                <div class="card__header">
                  <h3>SVG</h3>
                </div>
                <div class="card__body">
                  <p>SVGでマイクロインタラクションを表現したり、イラストのアニメーションができます。<br>TweenMaxなどのGSAPライブラリを利用し、jQuery非依存でアニメーションを設定しています。</p>
                </div>
                <div class="card__footer right">
                  <a href="/svg/" class="btn">詳細はこちら</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__inner">
                <div class="card__header">
                  <h3>Parallax</h3>
                </div>
                <div class="card__body">
                  <p>Parallax効果や慣性スクロールを設定するサンプルになります。<br>TweenMaxなどのGSAPライブラリを利用し、スクロールもそれぞれのオブジェクトもアニメーションさせています。</p>
                </div>
                <div class="card__footer right">
                  <a href="/parallax/" class="btn">詳細はこちら</a>
                </div>
              </div>
            </div>
          </nav>

        </div>
      </section>

      <section class="section">
        <div class="section__ttl">
          <h2>Download</h2>
        </div>
        <div class="section__body">
          <p><a href="">GitHubはこちら</a></p>
        </div>
      </section>


      <section class="section">
        <div class="section__ttl">
          <h2>注意事項</h2>
        </div>
        <div class="section__body">
          <div class="notice">
            <ul class="disc">
              <li>ライセンスは各ライブラリに基づくものとなります。ご利用の際はよくご確認ください。</li>
              <li>各ライブラリの使用方法などに関してはライブラリごとのドキュメントなどを参照してください。</li>
              <li>当サイト、またライブラリに記載されている情報により生じたいかなる損害に関しても、当社は責任を負いかねます。</li>
            </ul>
          </div>
        </div>
      </section>

		</div>
	</div>

</div>
