<div id="parallax">
	<div class="content">
		<div class="content__head">
			<h1>慣性スクロール パララックスアニメーション</h1>
      <p>Parallax効果や慣性スクロールを設定するサンプルになります。<br>TweenMaxなどのGSAPライブラリを利用し、スクロールもそれぞれのオブジェクトもアニメーションさせています。</p>
		</div>

		<div class="content__body parallaxWrap">
      <p>data-parallaxで視差（遅れ）を指定</p>

			<div class="target parallaxItem" data-parallax="1">
				target
			</div>

			<div class="target parallaxItem" data-parallax="0.8">
				target2
			</div>

			<div class="target parallaxItem" data-parallax="1.2">
				target3
			</div>

			<div class="target parallaxItem" data-parallax="0.5">
				target4
			</div>

		</div>
	</div>
</div>
